*{
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

body{
    font-family: sans-serif;
}

ul.card{
    display: inline-block;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
}

h1{
    text-align: center;
    color: darkblue;
    border: 1px solid darkblue;
    background-color: rgb(0, 139, 12);
    border-radius: 20px;
}

h2{
    margin: 20px;
    color: rgb(255, 116, 2);
}

.hidden{
    display: none;
}

